@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
html ,body {
    width: 100%;
    height: 100%;
    background-color: var(--gifos-background);
}
h1,h2,h3 {
    color: var(--purple-gifos);
}
:root[color-mode="light"] {
    --purple-gifos:#572EE5;
    --green-gifos:#50E3C2;
    --trending-bg:#F3F5F8;
    --icons-color:#CDD6E0;
    --gifos-background:#ffffff;
    --border-gifos:#572EE5;
    --text:#000000;
    --link-active:#9CAFC3;
    --logo-desktop: url("../assets/logo-desktop.svg");
}
:root[color-mode="dark"] {
    --purple-gifos:#ffffff;
    --green-gifos:#50E3C2;
    --trending-bg:#222326;
    --icons-color:#CDD6E0;
    --gifos-background:#37383C;
    --border-gifos:#000000;
    --text:#ffffff;
    --link-active:#9CAFC3;
    --logo-desktop: url("../assets/logo-desktop-modo-noc.svg");
}
:root[color-mode="light"] .light--hidden {
    display: none;
}
:root[color-mode="dark"] .dark--hidden {
    display: none;
}
.flex-row-center {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.button {
    padding: 15px 35px;
    border: 1px solid var(--purple-gifos);
    border-radius: 70px;
    text-align: center;
    margin: 0 auto;
}
.button a {
    font-size: 13px;
    color: var(--purple-gifos);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.center {
    text-align: center;
}
.burger-shower {
    display: none;
    position: absolute;
}
.hamburger {
    display: block;
    position: absolute;
    right: 30px;
    top: 49px;
    width: 15px;
    height: 1.5px;
    border-radius: 20px;
    background-color: var(--purple-gifos);
    z-index: 3;
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 15px;
    height: 1.5px;
    background-color: var(--purple-gifos);
    border-radius: 20px;
    position: absolute;
    display: block;
    transition: all 0.6s ease;
}
.hamburger::before {
    top: -6px;
    right: 0px;
    transform-origin: left top;
    transform: rotateZ(0deg);

}
.hamburger::after {
    top: 6px;
    right: 0px;
    transform-origin: left bottom;
    transform: rotateZ(0deg);
    
}
.burger-shower:checked ~ .header-navigation .hamburger {
    background-color: transparent;
}
.burger-shower:checked ~ .header-navigation .hamburger::before {
    transform: rotate(45deg);
    width: 15px;
    top: -8px;
}
.burger-shower:checked ~ .header-navigation .hamburger::after{
    transform: rotate(-45deg);
    width: 15px;
    top: 3px;
}
.header-navigation {
    border-top: 5px solid var(--border-gifos);
    position: fixed;
    width: 100%;
    background-color: var(--gifos-background);
    min-height: 80px;
}
.logo-container {
    width: 60px;
    height: 50px;
    padding: 20px;
    background-color: var(--gifos-background);
    background-image: var(--logo-desktop);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    background-size: 53px;
}
a.home-link {
    width: fit-content;
    display: flex;
}
.logo-container > svg {
    width: 53px;
}
.logo-container > svg .fill-color {
    fill: var(--purple-gifos);
}
.nav-full {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;
    z-index: 1;
}
.burger-shower:checked ~ .header-navigation .nav-full {
    background-color: var(--border-gifos);
    opacity: .90;
    overflow: hidden;
    visibility: visible;
    height: 100vh;
    z-index: 999;
}
.navigation-list {
    display: flex;
    flex-direction:column;
    padding-top: 20px;
}
.navigation-list a {
    text-decoration: none;
    color: white;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 100px;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
}
.navigation-list> li {
    list-style: none;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.navigation-list  hr {
    width: 30px;
    border-top: 1px solid white;
    border-bottom: none;
    opacity: .5;
    text-align: center;
    margin: 0 auto;
}
.main-title{
    padding: 0px 60px;
    font-weight: bolder;
    color:var(--purple-gifos);
    font-size: 30px;
    text-align: center;
}
.main-title > span {
    color: var(--green-gifos);
}
.header-image-container > img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    text-align: center;
}
.search-container {
    padding: 30px 20px;
    text-align: center;
}
.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--purple-gifos);
    border-radius: 27px;
    border-radius: 27px;
    width: 100%;
    height: 50px;
    max-width: 550px;
    margin: 0 auto;
}
.search > input {
    border: none;
    background-color: transparent;
    flex: 2;
    text-align: center;
}
.search >input:focus {
    border:none;
    outline: none;
    outline-width: 0;
}
.search > .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 23px;
    padding-right: 20px;
    height: 100%;
    color: var(--purple-gifos);
}
.search > .image-container > i {
    font-size: 20px;
    line-height: 20px;
    font-weight: 200;
}
.gifs-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    grid-row-gap: 10px;
    display: grid;
    width: 100%;
    padding: 40px 0px;
}

.gif-favorite > img{
    width: 100%;
    height: 100%;
}
.gifs-sections {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 70px;
    color: var(--purple-gifos);
    font-size: 18px;
}
.gifs-sections > span {
    font-weight: 600;
}
.trending-container {
    background-color: var(--trending-bg);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-title {
    margin-bottom: 10px;
}
.trending-description {
    margin-bottom: 5px;
    color:var(--text);
}
.carrousel {
    display: flex;
    width: 100%;
}
.carrousel-button ,
.carrousel-button{
    flex: 1;
    max-width: 100px;
    position: relative;
    
}
.carrousel-button >img ,
.carrousel-button >img {
    border: 1px solid;
    border-color: var(--purple-gifos);
    padding: 15px;
    top: 50%;
    position: absolute;

}
.carrousel-button.left >img{
    left: 50%;
}
.carrousel-button.right >img{
    right: 50%;
}
.slider-container {
    display: flex;
    width: 100%;
    flex: 3;
    overflow-x: scroll;
    padding: 20px 0px;
    max-height: 350px;
}
.slider__container-content {
    display: flex;
}
.search-card {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
}
.search-card > img {
    height: 100%;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--text);
    border-bottom: 5px solid var(--border-gifos);
}
.share-gifos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}
.share-gifos > span {
    margin: auto;
}
.social-media-list {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}
.social-media-list > li {
    list-style: none;
    padding: 10px;
    color: var(--icons-color);
    font-size: 20px;
}
.rights-reserved {
    margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .main-title {
        padding: 0 170px;
    }
}

@media screen and (min-width: 1024px) {
    .header-navigation {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        width: 80%;
    }
    .hamburger {
        display: none;
    }
    .logo-container {
        width: 65px;
        background-size: initial;
    }
    .nav-full {
        position: static;
        visibility: visible;
        opacity: 1;
        width: fit-content;
    }
    .burger-shower:checked ~ .header-navigation .nav-full {
        background-color: var(--gifos-background);
        height: 93px;
    }
    .navigation-list {
        flex-direction: row;
    }
    .navigation-list  a {
        color: var(--purple-gifos);
    }
    .navigation-list a:hover {
        border-bottom: 2px solid var(--green-gifos);
    }
    .navigation-list a:active {
        color: var(--link-active);
    }
    .navigation-list > hr {
        display: none;
    }
    .gifs-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 85%;
        grid-gap: 30px;
        grid-row-gap: 35px;
        margin: 0 auto;
    }
    .footer {
        flex-direction: row;
        justify-content: space-around;
        max-height: 80px;
    }
    .share-gifos {
        flex-direction: row;
    }

}

